<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.WarnetIT.kursusku">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.WarnetIT.kursusku.InvoiceBayarActivity"></activity>
        <activity android:name="com.WarnetIT.kursusku.InvoiceActivity" />
        <activity
            android:name="com.WarnetIT.kursusku.TopUpActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name="com.WarnetIT.kursusku.ScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.WarnetIT.kursusku.SettingActivity" />
        <activity
            android:name="com.WarnetIT.kursusku.AkunActivity"
            android:parentActivityName="com.WarnetIT.kursusku.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.WarnetIT.kursusku.MainActivity" />
        </activity>
        <activity android:name="com.WarnetIT.kursusku.KeranjangActivity" />
        <activity android:name="com.WarnetIT.kursusku.SearchActivity" />
        <activity
            android:name="com.WarnetIT.kursusku.SignInActivity"
            android:parentActivityName="com.WarnetIT.kursusku.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.WarnetIT.kursusku.MainActivity" />
        </activity>
        <activity
            android:name="com.WarnetIT.kursusku.SignUpActivity"
            android:parentActivityName="com.WarnetIT.kursusku.SignInActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.WarnetIT.kursusku.SignInActivity" />
        </activity>
        <activity android:name="com.WarnetIT.kursusku.DetailActivity" />
        <activity
            android:name="com.WarnetIT.kursusku.KategoriActivity"
            android:parentActivityName="com.WarnetIT.kursusku.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.WarnetIT.kursusku.MainActivity" />
        </activity>
        <activity
            android:name="com.WarnetIT.kursusku.MainActivity"
            android:launchMode="singleTop" />
        <service android:name="com.WarnetIT.kursusku.MessageReceiver">
            <intent-filter>
                <action android:name="om.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logokursuskusmall2" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges= "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

    </application>

</manifest>